@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-primary-bg: var(--primary-bg);
  --color-primary-border: var(--primary-border);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-primary-active: var(--primary-active);
  --color-primary-hover: var(--primary-hover);
}

:root {
  --primary-bg: #fafafa;
  --primary-border: #f4f4f5;
  --text-primary: #18181b;
  --text-secondary: #27272a;
  --primary-active: #e4e4e7;
  --primary-hover: #e4e4e7;
}

/* Modo Escuro */
.dark {
  --primary-bg: #18181b;
  --primary-border: #27272a;
  --text-primary: #f4f4f5;
  --text-secondary: #e4e4e7;
  --primary-active: #27272a;
  --primary-hover: #27272a;
}
