@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-page-bg: var(--page-bg);
  --color-primary-bg: var(--primary-bg);
  --color-primary-button-bg: var(--primary-button-bg);
  --color-primary-border: var(--primary-border);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-emerald-500: var(--text-emerald-500);
  --color-text-danger-600: var(--text-danger-600);
  --color-primary-active: var(--primary-active);
  --color-primary-hover: var(--primary-hover);
  --color-primary-hover-button: var(--primary-hover-button);
}

:root {
  --page-bg: #f3f6fb;
  --primary-bg: #f8fafe;
  --primary-button-bg: #026fd7;
  --primary-border: #e2e8f0;
  --text-primary: #0c111d;
  --text-secondary: #5e636f;
  --text-primary-active: #ffffff;
  --text-emerald-500: #007d1e;
  --text-danger-600: #d40924;
  --primary-active: linear-gradient(135deg, #07964d -60%, #00bc7d 100%);
  --primary-active-hover: linear-gradient(135deg, #d9fbe7 0%, #00bc7d 100%);
  --primary-hover: #e9eff9;
  --primary-hover-button: #015cad;
}

.dark {
  --page-bg: #070b14;
  --primary-bg: #0c1220;
  --primary-button-bg: #2885ef;
  --primary-border: #ffffff14;
  --text-primary: #f4f5f9;
  --text-secondary: #868fa2;
  --text-primary-active: #ffffff;
  --text-emerald-500: #189a30;
  --text-danger-600: #d40924;
  --primary-active: linear-gradient(135deg, #07964d -60%, #00bc7d 100%);
  --primary-active-hover: linear-gradient(135deg, #d9fbe7 0%, #00bc7d 100%);
  --primary-hover: #1b2233;
  --primary-hover-button: #58a0f4;
}

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    background-color: var(--page-bg);
    color: var(--text-primary);
  }

  .date-input {
    accent-color: var(--primary-button-bg);
    color-scheme: light;
  }

  .dark .date-input {
    color-scheme: dark;
  }

  .date-input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.7;
  }

  .dark .date-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
